body {
  font-family: "Diplomata SC", cursive;
  background-image: url("Blackjack-table.png");
  background-size: cover;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}
